.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/wave.gif');
  background-position: 50% 50%;
  background-size: cover;
}

.comning-soon {
  border: 1px none #fff;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 5vh;
  font-weight: 400;
  text-transform: lowercase;
}

.wave-canvas {
  border: 1px none #fff;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 5vh;
  font-weight: 400;
  text-transform: lowercase;
}

.text {
  border: 1px none #fff;
  font-family: 'Open Sans', sans-serif;
  color: #98cccc;
  font-size: 5vh;
  font-weight: 400;
  text-transform: lowercase;
}