@media screen and (max-width: 374px) and (orientation: portrait) {


  .hover-text {
    z-index: 99;
  }

  .content {
    z-index: 98;
  }

  .page-name {
    font-size: 15px;
  }

  .box {
    display: block;
    width: 100%;
    height: 12%;
    overflow: hidden;
    position: relative;
  }


  #uno {
    height: 64%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid $secondaryColor;
    border-right: none;
  }

  #uno .box-table {
    height: 100%;
    width: 100%;
    display: flex;
  }

  #uno .content {
    height: 100%;
    width: 100%;
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }

  #dos {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid $secondaryColor;
    border-bottom: 1px solid $secondaryColor;
  }

  #dos .content {
    z-index: 100;
    // opacity: 1;
  }

  #tres {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid $secondaryColor;
    border-bottom: 1px solid $secondaryColor;
  }

  #tres .content {
    // height: 100%;
    // width: 100%;
    z-index: 100;
    padding: 0;
  }

  #cuatro {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    border-top: 1px solid $secondaryColor;
    border-right: none;
  }



// MUSIC

  #music {
    height: 100%;
    width: 100%;
  }

  #music a {
    display: none;
  }

  #music iframe {
    min-height: 230px;
    min-width: 230px;
    max-width: 230px;
    max-height: 230px;
    padding: 10px;
  }


// VIDEO

  #video iframe {
    padding: 10px;
    min-width: 280px;
    min-height: 280px;
    max-width: 280px;
    max-height: 280px;
  }

//TOUR

#tour li {
  display: inline-block;
}

#tour {
  height: 100%;
  width: 100%;
  padding: 5%;
}

#tour .tour-dates {
  background-color: transparent;
  border: none;
  height: 80%;
}

.poster {
  display: none;
}

.tour-dates ul {
  text-align: center;
}

.tour-dates li {
  font-size: 15px;
  line-height: 15px;
}


// MERCH

  #merch {
    height: 100%;
    width: 100%;
    padding: 2%;
    flex-direction: column;
  }

  #merch .merch-photos {
    // border: 2px solid purple;
  }

  #merch .merch-photos a {
    margin: 0;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
  }

  #merch .merch-photos img {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }

  #merch .merch-photos img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }

  #merch .merch-info {
    min-height: fit-content;
    min-width: fit-content;
    min-width: -moz-fit-content;
    min-height: -moz-fit-content;
    align-items: center;
  }

  #merch .merch-info h1 {
    font-size: 15px;
    margin: 11px 0;
  }

  #merch .merch-info h2 {
    display: none;
  }

  #merch .merch-info p {
    display: none;
  }

  #merch .merch-info a {
    margin: 0;
    padding: 5px;
    font-size: 13px;
  }


// CONTACT


  #contact p {
      display: none;
    }

  #contact .email {
    display: none;
  }

  #contact .social {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }

  #contact .social a {
    display: inline-block;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    color: $primaryColor;
    background-color: $secondaryColor;
  }

}
